*{
    margin: 0px;
   
}

#head{
    position: absolute;
    z-index: 1;
    font-size: 90px;
    font-weight: 400;
    text-align: center;
}
.main{
    position: relative;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
}



.child{
    width: 300px;
    border:  solid white;
    position: absolute;
    top: 0;
}

.parent{
    
    position: relative;
    margin-left: 260px;
    
}
img{
    width: 100%;
    height: 500px;
}
#head1{
    z-index: 1;
    margin-left: 350px;
    margin-top: 90px;
}

#head2{
    margin-left: 700px;
}




   